#main-photo {
  width: 34em;
  height: 375px;
}

body {
  background-color: #EFEEED;
}

#photo2 {
  width: 11.34em;
  height: 100px;
  padding-right: 0.5em;
}

#photo3 {
  width: 11.34em;
  height: 100px;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#photo4 {
  width: 11.34em;
  height: 100px;
  padding-left: 0.5em;
}
