<div class="banner">
  <div class="container">
    <h1><strong>Kitchens</strong> everywhere.</h1>
    <p>Cook for friends or start your food service business on someone else's kitchen.</p>
    <%# <a class="btn btn-flat" href="#">Apply now</a> %>
  </div>
</div>