<div class="banner">
  <div class="container">
    <h1><strong>Kitchens</strong> everywhere.</h1>
    <p>Cook for friends or start your food service business on someone else's kitchen.</p>
    <div id="search-banner">
      <%= render 'shared/search' %>
    </div>
  </div>
</div>
