<div class="search position-relative">
  <input class="form-control" type="text" placeholder="FIND YOUR KITCHEN" aria-label="Search">
  <button type="button" class="p-0 btn btn-light position-absolute">
    <i class="fas fa-search"></i>
  </button>
</div>



