<div class="row justify-content-center">
  <div class="col-4">
    <%= render "kitchens/card" %>
  </div>
  <div class="col-4">
    <%= render "kitchens/card" %>
  </div>
  <div class="col-4">
    <%= render "kitchens/card" %>
  </div>
</div>
<br>
<br>
<br>


<div class="row justify-content-center">
  <div class="col-4">
    <%= render "kitchens/description" %>
  </div>
</div>
