<div class="row justify-content-center">
  <div class="col-3">
    <%= render "kitchens/card" %>
  </div>
  <div class="col-3">
    <%= render "kitchens/card" %>
  </div>
  <div class="col-3">
    <%= render "kitchens/card" %>
  </div>
</div>
