<div class="card">
  <%= image_tag("kitchen1.jpeg", class: "img-fluid") %>
  <div class="card-body pb-0">
    <h5 class="card-text mb-0">KITCHEN TITLE HERE</h5>
    <p class="mb-0">CITY HERE</p>
  </div>
  <div id="price">
    <p class="mb-0">R$ 40 per hour</p>
  </div>
</div>
