<div class="description text-center">
  <div class="card-body">
    <h3 class="card-text">KITCHEN TITLE HERE</h3>
    <p>Lorem ipsum dolor sit ame. Fusce solicitudin sollicitd dignissim a velit, ac ulla mcorper orci placerat nonah. Curabitur consectetur convallis ipsum, vitae vulputate turpisa. Proin tristique, elit ut sollicitudin mattis, orci nibh elementume tellu s, sit amet maximus risus risus vita sollicitudi arcai.</p>
    <h4>R$40</h4>
    <h5>per hour</h5>
    <p id="adress">Adress, number 00, City - Zip code 0000</p>
    <button type="button" class="btn btn-secondary">BOOK IT</button>
  </div>
</div>
