<div class="search position-relative">
  <input class="form-control" type="text" placeholder="FIND YOUR KITCHEN" aria-label="Search">
  <button type="button" class="p-0 btn btn-light position-absolute" style="font-size: 24px; opacity: 0.3; background-color: inherit; top: 1px; right: 12px; border: none;">
    <i class="fas fa-search"></i>
  </button>
</div>

