
<%= render 'shared/banner' %>

<div class="container index-grid">
  <% @kitchens.each do |kitchen| %>
    <%= render partial: "card", locals: {kitchen: kitchen} %>
  <% end %>
</div>

<%= render 'shared/footbar' %>
