
<div class="mt-5 container d-flex">
  <div class="container image-show"><%= image_tag(@kitchen.photo_url) %></div>
  <%= render partial: "description", locals: {kitchen: @kitchen} %>
</div>

<div
  id="map"
  style="width: 100%; height: 600px;"
  data-marker="<%= @marker.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>