.kitchen-card-link:hover {
  color: gray;
}

.card {
  margin: 8px;
  background-color: #EFEEED;
  height: 300px;
  width: 20em;
  position: relative;
    .img-fluid {
      padding: 16px 16px 0;
      width: 100%;
      height: 195px;
    }
    h5 {
      font-size: 18px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0px;
      width: 275px;
      padding-bottom: 1px;
    }
    #city {
      opacity: 0.6;
      font-weight: 300;
      color: #6c757d;
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 230px;
      padding-bottom: 7px;
    }
    #price {
      font-size: 16px;
      color: #6c757d;
    }
}
