#show-description {
  margin-top: 100px;
}

#show-description2 {
  margin-top: 10px;
}

.description {
  margin-left: 40px;
  width: 25em;
  height: 370px;
  position: relative;
  h3 {
    letter-spacing: 1px;
    margin-bottom: 30px;
  }
  p {
    font-weight: 300;
    color: #6c757d;
    text-align: justify;
    width: 18em;
    margin: 0 auto;
    padding-top: 3em;
  }
  #price-description {
    margin-top: 60px;
      h4 {
        font-weight: 300;
      }
      h5 {
        font-size: 15px;
      }
  }
}


.description2 {
  height: 100px;
  margin-left: 40px;
  width: 25em;
  position: relative;
    #address {
      font-size: 15px;
      text-align: center;
    }
    button {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    p {
      font-weight: 100;
    }
}

