.description {
  h3 {
    letter-spacing: 1px;
    margin-bottom: 30px;
  }
  p {
    font-weight: 300;
    color: #6c757d;
    margin-bottom: 30px;
    text-align: justify;
  }
  h4 {
    margin: 0px;
  }
  h5 {
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 30px;
  }
  #adress {
    font-size: 15px;
    text-align: justify;
  }
  button {
    width: 100%;
  }
}

// <div class="description text-center">
//   <div class="card-body">
//     <h3 class="card-text">KITCHEN TITLE HERE</h3>
//     <p>Lorem ipsum dolor sit ametg elit. Sollicitudin ametg sollicitd dignissim a velit, ac ulla mcorper orci placerat nonah. Curabitur consectetur convallis ipsum, vitae vulputate turpisa. Proin tristique, elit ut sollicitudin mattis, orci nibh elementume tellu s, sit amet maximus risus risus vita sollicitudi arcai.</p>
//     <h4>R$40</h4>
//     <h5>per hour</h5>
//     <p>Adress, number 00, City - Zip code 00000-0000</p>
//     <button type="button" class="btn btn-secondary">BOOK IT</button>
//   </div>
// </div>
