.description {
  h3 {
    letter-spacing: 1px;
    margin-bottom: 30px;
  }
  p {
    font-weight: 300;
    color: #6c757d;
    margin-bottom: 30px;
    text-align: justify;
  }
  h4 {
    margin: 0px;
  }
  h5 {
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 30px;
  }
  #adress {
    font-size: 15px;
    text-align: justify;
  }
  button {
    width: 100%;
  }
}
