.navbar {
  background-color: #E7E6E4;
  flex-flow: row-reverse;
  min-height: 56px;

  #cook_it_navbar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    h3 {
      color: gray;
    }
  }
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  margin: 10px 0 0;
  padding: 0;
}

#add_kitchen-navbar , #login-navbar {
display:inline-block;
}

.dropdown-menu dropdown-menu-right show {
text-align: right;
}
