.navbar {
  background-color: #E7E6E4;
  #cook_it_navbar {
    margin: 0 auto;
    h3 {
      color: gray;
    }
  }
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  margin: 10px 0 0;
  padding: 0;
}
