.navbar {
    #cook_it_navbar {
      margin: 0 auto;
      h3 {
      color: gray;
      }
    }
    #login-navbar {

    }
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}

#add_kitchen-navbar {
  float: left;
}

#login-navbar {
  float: right;
}
