.add-kitchen-container {
  background-color: white;
  .form-inputs-kitchen {
    width: 30em;
    opacity: 0.9;
    background-color: white;
    padding: 20px;
    margin: 0 auto;
  }
  .form-inputs:visited {
    color: red;
  }
}
