.totalprice {
  border: 1px solid #DFDEDB;
  background-color: white;
  padding: 16px;
  h5 {
    margin: 0px;
    font-weight: 300;
    color: #7B7973;
  }
  p {
    margin: 0px;
    color: #7B7973;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
  }
}
